@import url('https://fonts.googleapis.com/css?family=Anton|Handlee|Heebo|Lobster|Oxygen|Pacifico|Playball|Roboto|Roboto+Condensed|Source+Sans+Pro|Yellowtail&display=swap');

:root {
    --Handlee: "Handlee", cursive;
    --Heebo: "Heebo", cursive;
    --Lobster: "Lobster", cursive;
    --Oxygen: "Oxygen", cursive;
    --Pacifico: "Pacifico", cursive;
    --Playball: "Playball", cursive;
    --Roboto: "Roboto", cursive;
    --Source-sans-pro: "Source+Sans+Pro";
}

header,
footer {
    overflow: hidden;
}

/*Start of header*/
header .btn {
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Libre Franklin';
    text-align: center;
    margin-left: -350px;
}

.navbar {
    background-color: rgba(211, 57, 107, 1);
    font-family: 'Righteous';
}

.navbar-brand {
    color: white;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #ff9933;
}

.nav-link {
    color: white;
    font-family: 'Libre Franklin';
}

.nav-link:hover {
    color: #ff9933;
}

/*End of Header*/

/*Start of Section-1*/
.section-1 {
    color: #D3396B;
    margin: 35px 0 0 0;
}

.section-1 h3 {
    color: #ff9933;
}

.section-1 input {
    border-color: #D3396B;
    border-radius: 5px;
    margin-top: 20px;
    height: 6vmin;
    width: 80vmin;
}

/*End of Section-1*/

/*Start of Section-2*/
.section-2 {
    background-color: rgba(255, 153, 51, 0.1);
    border: 1px solid #D3396B;
    margin: 35px 0 35px 0;
}

.section-2 h3 {
    color: #ff9933;
}


/*End of Section-2*/

/*Start of Footer*/
footer {
    background: #ff9933;
    height: 205px;
    overflow-x: hidden;
}

#c1 {
    margin-left: 15px;
}

footer h6 {
    color: whitesmoke;
}

footer h4 {
    color: #D3396B;
}

footer h4 a {
    color: #D3396B;
}

footer .column a i+i {
    padding: 0 0.5em;
}

/*End of Footer*/